<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShopIt.com</title>
  <script src="./scripts?name=lifecycle_tracker.js"></script>
  <script src="./scripts?name=sparkmd5.js"></script>
  <script src="./scripts?name=mutation_hashes.js"></script>
  <script src="./scripts?name=extension_id_placeholder.js"></script>
  <script src="./scripts?name=raider_break.js"></script>
  <script src="./scripts?name=mutation.js"></script>
  <script src="./scripts?name=v2_dispatch.js"></script>
</head>

<body>
  <h1>New Test Page</h1>
  <div id="payload-container"></div>
  <script src="./scripts?name=raider_simple_ui.js"></script>
</body>

</html>