DEBUG=False
DATASET_TS=2026-04-14
DATASET=chaos_2026-04-14
TABLE_SUFFIX=2026-04-14

DB_HOST=127.0.0.1
DB_USER=your_db_user
DB_NAME=chaos
DB_PASS=your_db_password

TEST_TYPE=shared
META_TEST_TYPE=basic
DIR_EXTENSION=basic
ADVANCED_TEST=False

EXTENSION_TYPE=chrome
CRAWL_URL_TYPE=simple
USER_DATA_DIR=/tmp/chaos/chromiumDataDir/
TEST_BREAKAGE=False
IS_MULTIPLE_EXTENSION_TEST=False
