<html argos="argos">
<head argos="argos">
    <title argos="argos">ShopIt.com</title>
    <script argos="argos" src="./scripts?name=lifecycle_tracker.js"></script>
    <!-- MD5 Script -->
    <script argos="argos" src="./scripts?name=sparkmd5.js"></script>

    <!-- Known Mutation Hashes -->
    <script argos="argos" src="./scripts?name=mutation_hashes.js"></script>

    <!-- Mutation Records Logger -->
    <script argos="argos" src="./scripts?name=mutation.js"></script>
    <script argos="argos" src="./scripts?name=v2_dispatch.js"></script>
</head>
<body argos="argos">
    <h1 argos="argos">New Test Page</h1>
</body>
</html>